blessed==1.21.0
certifi==2025.4.26
charset-normalizer==3.4.2
curtsies==0.4.2
cwcwidth==0.1.10
greenlet==3.2.1
idna==3.10
Pygments==2.19.1
pyxdg==0.28
requests==2.32.3
ruff==0.11.8
urllib3==2.4.0
wcwidth==0.2.13
